@font-face {
  font-family: 'Ropa Sans';
  font-style: normal;
  font-weight: 400;
  src: url(EYqxmaNOzLlWtsZSScy6XTNt.eot)/*tpa=http://fonts.gstatic.com/s/ropasans/v9/EYqxmaNOzLlWtsZSScy6XTNt.eot*/;
}
