/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 26, 2016, 7:21:58 AM
    Author     :NNDUY
*/
.nnd_sum_tabs{
    width: 568px;
    padding-left: 10px;
    padding-right: 10px;
}

ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tabs li{
    border:1px solid #294856;
    font-weight: bold;
    color: #294856;
    background: transparent;
    display: inline-block;
    padding: 5px 10px;
    /*padding-left: 35px;*/
    cursor: pointer;
}
ul.tabs li.current{
    background-color:  #B01A25;
    color: #fff;
}

.tab_content{
    margin-top: 15px;
    margin-bottom: 15px;
    display: none;
    background: #ededed;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#tabs_4,#tabs_3{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.tab_content.current{
    display: inherit;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#tab_1,#tab_2{

}

.nnduy_bt_submit{
    height: 36px;
    width: 140px;
    font-size: 11pt;
    background-color: #b01a25;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    -webkit-box-shadow: 1px 1px 1px #666;
    box-shadow: 1px 1px 1px #666;
}


.nnduy_reg_main_title{
    margin-top: 10px;
    margin-bottom: 5px;
    height: 29px;
    width: 500px;
    background: url('title_icon.png')/*tpa=http://m.tuyensinh.duytan.edu.vn/img/icon/title_icon.png*/ left bottom no-repeat;
    color: #666;
    font-weight: bold;
    font-size: 14px;
    line-height: 29px;
    padding-left: 39px;
}
.nnduy_title_line {
    background-color: #B01A25;
    height: 30px;
    padding-left: 10px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
}
.colunm_1{
    width: 140px;
    color: #000000;
    padding: 20px 5px;
}
.colunm_2
{
    color: #000000;
    padding: 10px 0;
}
.title_line
{
    background-color: #B01A25;
    height: 30px;
    padding-left: 10px;
    color: #FFF;
    font-weight: bold;
    text-transform:uppercase;
}
.txt_width_code
{
    width: 23px;
    margin-bottom: 5px;
}
.txt_width_length
{
    width: 310px;
    margin-bottom: 5px;
}
.txt_width_length_1
{
    width: 238px;
    margin-bottom: 5px;
}
.txt_width_date
{
    width: 40px;
}
.title_cd
{
    font-weight: bold;
    color: #7e000c;
}
td
{
    border-bottom: 1px solid #E5E5E5;
}
.trow tr
{
    border: none;
}

.cb_list_1
{
    width: 300px;
}
.cb_list_1 option
{
    width: 340px;
}
.cb_list_2
{
    width: 315px;
}
.txt_truong{display:none;}
.txt_cls{margin-bottom:7px;width:230px;}
.colunm_2 a{color:#7e000c;font-weight:300;cursor:pointer;}
.note{color:Red;}
.note_dau{font-weight:bold;}
.note_info{background:url(dot-01.gif)/*tpa=http://m.tuyensinh.duytan.edu.vn/images/dot-01.gif*/ no-repeat 5px 10px;padding-left:15px;}
.dot_nganh{font-weight:bold;padding:0 0 0 15px;background:url(ico_hoidap_chan.jpg)/*tpa=http://m.tuyensinh.duytan.edu.vn/images/ico_hoidap_chan.jpg*/ no-repeat 5px 8px;}
.title_hb{padding:5px;background:url(dot-01.gif)/*tpa=http://m.tuyensinh.duytan.edu.vn/images/dot-01.gif*/ no-repeat 5px 12px;padding-left:15px;margin-left:10px;}
.title_hb_1{padding:5px;background:url(arrow.gif)/*tpa=http://m.tuyensinh.duytan.edu.vn/images/arrow.gif*/ no-repeat 5px 10px;padding-left:15px;}
.bangdiem{margin:0 15px;}
.tb_view{border:1px solid #ccc;width:100%;border-color:#ccc;font-weight:bold;font-size:11px;}
.tr_title{background-color:#7e000c;color:#fff;}
.tb_view tr td{padding:5px;}
.title{font-weight:bold;}
.colunm_left{float:left;width:150px;margin-right:7px;}
.colunm_right{float:right;}
.colunm_right .namTotnghiep{padding:2px !important;width:40px;}
.colunm_left .cbTotnghiep input{vertical-align:middle;height:30px;}
.select1{}
.select2{margin-left:60px;}
span.node_xet{color:#e46695;}
table tr td span.title_hot{font-weight:bold;color:#c7383e}
table input, table select{padding:5px 2px;}
table tr td .truong{width:135px !important;}
table tr td .cb_duhoc{float:left;padding:5px 0 0 5px;}
table tr td table.tbhocba{width:100%;}
table tr td table.tbhocba,
table tr td table.tbhocba th,
table tr td table.tbhocba td{border:1px solid #ccc;}
table tr td table.tbhocba td.td_tb{width:120px;text-align:center;}
table tr td table.tbhocba td{padding:5px 5px;}
table tr td table.tbhocba td input{margin:0;}
table tr td table.tbhocba td .markcoures{width:40px;text-align:center;}
table tr td table.tbhocba td .markcourestb{width:60px;text-align:center;}
table tr td table.tbhocba td .course1, table tr td table.tbhocba td .course2, table tr td table.tbhocba td .course3{width:70px;}
.nnduy_ghichu{
    clear: both;
    font-size: 9pt;
    font-style: italic;
    padding: 5px 15px 5px 0;
}
.title p{
    color: #7E000C;
    margin-bottom: 5px;
    line-height: 20px;
    font-weight: bold;
    margin-top: 10px;
    font-size: 16pt;
}

.nnduy_colum_1,.nnduy_colum_2,.nnduy_colum_3{
    color: #000000;
    padding: 10px 5px;
}
.nnduy_colum_1{
    width: 40px;
    font-weight: bold;
}
.nnduy_colum_1 div{
    position: relative;
    height: 30px;
    width: 30px;
    background: url('icon_stt.png')/*tpa=http://m.tuyensinh.duytan.edu.vn/img/icon/icon_stt.png*/no-repeat center;
}
.nnduy_colum_1 div span{
    position: absolute;
    top: 6px;
    left: 12px;
    color: #fff;
}
.nnduy_colum_2{
}
.nnduy_colum_3{
    width: 50px;
}
.sttable{
    width: 100%;
}
.color_table_one{
    background: #eeeeee
}
.flexslider{
    position: relative;
}
.flex-direction-nav{

    /*position: absolute;*/
}
.flex-nav-prev{
    /*display: none;*/
}
.flex-direction-nav a {
    padding: 7px 7px;
    background: #B01A25;
    color:#fff;
    border-radius: 30px;
}
.flex-control-paging{
    display: none;
}
.finish_li input{
    text-decoration: none;
    display: block;
/*    width: 80px;
    height: 40px;*/
    margin: -25px 0 0;
    position: absolute;
    bottom: -20px;
    z-index: 10;
    overflow: hidden;
    opacity: 1;
    cursor: pointer;
    box-shadow: 1px 1px 1px #666;
    
}
.flex-nav-next input{
    text-decoration: none;
    display: block;
    margin: -20px 0 0;
    position: absolute;
    bottom: -25px;
    z-index: 10;
    overflow: hidden;
    opacity: 1;
    cursor: pointer;
    box-shadow: 1px 1px 1px #666;
}
.flex-nav-next input{
    right:0px;
    background: #B01A25;
    color: #fff;
    border-radius: 30px;
    padding:5px 10px;
    height: 30px !important;
}
.finish_li{
    display: none;
}
.finish_li .finish{
    left: 30%;
    text-align: center;
    height: 30px !important;
    width: 110px;
    font-size: 11pt;
    background-color: #54a4ff;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    -webkit-box-shadow: 1px 1px 1px #666;
    box-shadow: 1px 1px 1px #666;
}
.fle-direction-nav .finish_li input.finish{
    text-decoration: none;
    display: block;
    margin: -20px 0 0;
    position: absolute;
    bottom: -35px;
    z-index: 10;
    overflow: hidden;
    opacity: 1;
    cursor: pointer;
}

.nnduy_ketqua{
    border: 1px solid #B01A25;
    padding: 5px 5px 5px 5px;
    height: 22px;
    color: #000000;
    font-weight: bold;
    text-align: left;
    margin: 5px 0 5px 0;
    line-height: 30px;
    padding-left: 10px;
}
.tab_content {
    padding: 15px;
}

/*==================RESPONTIVE=========================*/
#utilities .info .lb_title{
    padding-top: 10px;
    font-weight: bold;
    padding-bottom: 5px;
    color: #000;
    line-height:1.5;
}
#utilities .info .select_option {
    height: 25px;
    width: 150px;
}
#utilities .info .input_option {
    height: 20px;
    width: 100%;
    padding-right: 5px;
}
.main-content-left{
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.content-article-title h2 {
    font-size: 22px;
    font-family: 'Tahoma', sans-serif;
    text-transform: none;
}

.content-article-title {
    display: block;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 4px solid #a4312e;
    color: #a4312e;
    position: relative;
}

#utilities .info .txt_box {
    padding-top: 7px;
    clear: both;
    
}
.li-slide{
    padding: 10px!important;
}
.dang_ky .input_option{
    width: 100%;
    height: 20px;
}
.dang_ky .select_option{
    width: 150px;
    height: 25px;
}
.dang_ky .lb_title{
        padding-top: 10px;
    font-weight: bold;
    padding-bottom: 5px;
    color: #000;
}

.nnduy_bt_submit_dk{
    right: 5px;
    height: 36px;
    width: 140px;
    font-size: 11pt;
    background-color: #b01a25;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    -webkit-box-shadow: 1px 1px 1px #666;
    box-shadow: 1px 1px 1px #666;
}
.bu_tom{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}
.title_re{
        font-weight: bold;
    position: absolute;
    bottom: 5px;
    right:0px;
    font-size: 16px;
    text-decoration: none;
    outline: none;
    color: #6D3735;
    opacity: 0.9;
    text-transform:uppercase;
}
.title_re:hover{
    opacity: 1;
    color:#a4312e;
}
div.error{padding:10px 0;}